

<table st-table="vm.places" st-pipe="vm.getData" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="created">Post Date</th>
        <th st-sort="author">Author</th>
        <th st-sort="type">Type</th>
        <th st-sort="data">Data</th>
        <th st-sort="name">Name</th>
    </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
    <tr ng-repeat="row in vm.places">
        <td>{{row.created | date:'dd-MM-yyyy'}}</td>
        <td>{{row.author}}</td>
        <td>{{row.type}}</td>
        <td>{{row.data }}</td>
        <td>{{row.name }}</td>
        <td>
            <button type="button" ng-click="vm.deletePlace(row)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>
        </td>
        <td>
            <a type="button" class="btn btn-sm btn-success" ng-href="#edit/{{row._id}}">
                <i class="glyphicon glyphicon-pencil" >
                </i>
            </a>
        </td>
    </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
    <tr>
        <td colspan="10" class="text-center"> <b>Loading ... </b></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="text-center" st-pagination="" st-items-by-page="15"  colspan="10">
        </td>
    </tr>
    </tfoot>
</table>