<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Places Gate</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Create new</a></li>
        </ul>
    </div>
</nav>

<table st-pipe="vm.getData" st-table="vm.places" class="table table-striped">
    <thead>
    <tr>
        <th>Post Date</th>
        <th>Author</th>
        <th>Type</th>
        <th>Data</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
    <tr ng-repeat="row in vm.places">
        <td>{{row.created}}</td>
        <td>{{row.author}}</td>
        <td>{{row.type}}</td>
        <td>{{row.data }}</td>
        <td>{{row.name }}</td>
        <td>
            <button type="button" ng-click="vm.deletePlace(row)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-pencil">
                </i>
            </button>
        </td>
    </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
    <tr>
        <td colspan="4" class="text-center">Loading ... </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="15"></div>
        </td>
    </tr>
    </tfoot>
</table>