<button class="btn mb-sm  btn-success" ng-click="vm.isShowfilter=true;" ng-if="!vm.isShowfilter">Show filter</button>
<button class="btn mb-sm  btn-warning" ng-click="vm.isShowfilter=false;" ng-if="vm.isShowfilter">Hide filter</button>

<div class="row mb-sm" ng-if="vm.isShowfilter">
    <div class="col-md-4">
        <label for="env">Env variable</label>
        <ui-select ng-model="vm.env.selected.value" id="env">
            <ui-select-match>
                <span ng-bind="$select.selected"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.env | filter: $select.search)">
                <span ng-bind="item"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-4">
        <label for="types">Types</label>
        <ui-select ng-model="vm.types.selected.value" id="types" >
            <ui-select-match>
                <span ng-bind="$select.selected"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.types | filter: $select.search)">
                <span ng-bind="item"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-4">
        <label for="authors">Author</label>
        <ui-select ng-model="vm.authors.selected.value" id="authors">
            <ui-select-match>
                <span ng-bind="$select.selected"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.authors | filter: $select.search)">
                <span ng-bind="item"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>

<div class="row mb-sm" ng-if="vm.isShowfilter">
    <div class="col-md-4">
        <input type="text" placeholder="md5" class="form-control">
    </div>
</div>

<button class="btn mb-sm  btn-primary" ng-click="vm.updateData()" ng-if="vm.isShowfilter">Apply</button>

<table st-table="vm.places" st-pipe="vm.getData" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="created">Post Date</th>
        <th st-sort="author">Author</th>
        <th st-sort="type">Type</th>
        <th st-sort="data">Data</th>
        <th st-sort="name">Name</th>
    </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
    <tr ng-repeat="row in vm.places">
        <td>{{row.created | date:'dd-MM-yyyy'}}</td>
        <td>{{row.author}}</td>
        <td>{{row.type}}</td>
        <td>{{row.data }}</td>
        <td>{{row.name }}</td>
        <td>
            <button type="button" ng-click="vm.deletePlace(row)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>
        </td>
        <td>
            <a type="button" class="btn btn-sm btn-success" ng-href="#edit/{{row._id}}">
                <i class="glyphicon glyphicon-pencil" >
                </i>
            </a>
        </td>
    </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
    <tr>
        <td colspan="10" class="text-center"> <b>Loading ... </b></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="text-center" st-pagination="" st-items-by-page="15"  colspan="10">
        </td>
    </tr>
    </tfoot>
</table>