<form>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="text" placeholder="%programfiles%\..\.." class="form-control" id="data" ng-model="vm.model.data">
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" placeholder="FPL, FMPL, PL, MPL, RPL, RMPL" class="form-control" id="type" ng-model="vm.model.type">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text"  placeholder="bot" class="form-control" id="author" ng-model="vm.model.author">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" placeholder="Malware.Gen" class="form-control" id="name" ng-model="vm.model.name">
    </div>
    <div class="form-group">
        <label for="md5">md5</label>
        <input type="text" placeholder="md5" class="form-control" id="md5" ng-model="vm.model.md5">
    </div>
    <button type="submit" class="btn btn-default" ng-click="vm.submit()">Submit</button>
</form>